
h1{
  color: blue;
  text-align: center;
}

h2{
  color: green;
  text-align: center;
}
p{
  text-align: center;
  font-size: 14;
  font-family:sans-serif;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 50px;
  padding-bottom: 200px;
  border-left: 50px solid black;
  border-right: 50px solid black;
  border-top: 10px solid black;
  border-bottom: 10px solid black;

}
body{
  background-color: #454545;
}
